
.add_tour{
  display:inline-block;
  width:30%;
  /*margin: 10px;*/
    position: relative;
    margin-left: 35%;
}
.filter_form select, label, input {
	width:100%;
	position:relative;
	/*left:0;*/
	padding:4px;
	margin:4px;
}
