.comment_box {
    display: block;
    padding: 0.5%;
    width: 95%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius:10px;
    border:2px solid #111;
    overflow: hidden;
    position: relative;
}

.author_date {
    padding: 1%;
    margin: 1%;
    background-color: #ccc;
    /*border:1px solid #444;*/
    border-radius: 10px;
}

.author_date::after{
    content: "";
    display: table;
    clear: both;
}

.inner {
    float: left;
    display: inline-block;
    padding-left: 3%;
    font-style: italic;
    font-weight: bold;
    overflow: hidden;
}

.del_comment{
    float: right;
    display: inline-block;
    padding-right: 3%;
    overflow: hidden;
    margin:0;
}

.del_comment>input{
    font-style: italic;
    font-weight: bold;
    color: darkred;
    background-color: inherit;
}

.comment {
    padding: 1%;
    margin: 1%;
    /*border:1px solid #444;*/
    border-radius: 10px;
    font-style: italic;
    background-color: inherit;
}

textarea {
    padding: 1%;
    margin: 1%;
    width: 98%;
}

.comment_input {
    background-color: #f1f1f1;
    margin-left: 3%;
}

.comment_submit_button {
    display: block;
    position: relative;
    width: 20%;
    margin: auto;
    padding: 0.5%;
    font-size: calc(60% + 0.4vw);
}

.comment_submit_button:hover{
    background-color: #ccc;
}
