* {
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body {
    font-size: calc(60% + 0.4vw);
    margin:10px;
    background-color: #f9f9f9;
    background-image: url(http://s.ubuntu.ru/img/bg_dotted.png);
    background-repeat: repeat;
    /*font-family: Arial, sans-serif;*/
    font-family: 'Arial', sans-serif;
}

.container{
    max-width: 1400px;
    margin: auto;
    border:2px solid #111;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 0.5%;
    text-align: center;
    border:2px solid #111;
}

/* Style blocks inside header */
.header_box{
    float: left;
    width: 33%;
    padding: 1%;
    overflow: hidden;
}

.header_box h2{
    margin: 1%;
}

.header_box ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
}

#right{
    position: relative;
}

#right button {
    display: block;
    position: relative;
    top:10%;
    width: 70%;
    margin: auto;
    white-space: normal;
    font-size: calc(60% + 0.4vw);
    background:#555;
    color:white;
    padding: 1%;
}

#right button:hover{
    background-color:#888;
}

.header_box form{
    margin: 0;
}
#panel{
    background: #555;
    position: absolute;
    top:50%;
    width: 70%;
    left: 15%;
    z-index: 1000;
    border:2px solid #111;
    padding: 1%;
    display: none;
}

.header_box input[type=text] {
    padding: 1%;
    display: block;
    width: 100%;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
}

.header_box p{
    position: relative;
    margin: 0;
    bottom: -20%;

}

.header_box p a:hover{
    background-color: #aaa;
}

.register {
    display:inline-block;
    margin:5px;
    color:#111;
    /*text-decoration:none;*/
    padding:14px 16px;
}
/*clear floats after the colunms*/
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the top navigation bar */
.topnav {
    /*position: fixed;*/
    /*overflow: hidden;*/
    padding-left: 2%;
    background-color: #555;
    border:2px solid #111;
}

/* Style the topnav links */
.topnav ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
    float:left;
}

.topnav li a {
    display:inline-block;
    /*display: block;*/
    color: #f2f2f2;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
}
.topnav li a:hover {
    background-color: #ddd;
    color: black;
}
.topnav li a.active {
    background-color: #008CBA;
    color: white;
}

/* Style the central part */

/* elements inside central part are styled in other css files

/* Clear floats after the central_part columns */
.central_part{
    position: relative;
    background-color: #f1f1f1;
    border:2px solid #111;
    min-height: 70%;
}

.central_part:after {
    content: "";
    display: table;
    clear: both;
}


/*style the panel for subscription*/
#subscription{
    overflow: hidden;
    position: relative;
    background-color: #555;
    border:2px solid #111;
    color: #fff;
}
#mailing{
    position: relative;
    width: 60%;
    margin: auto;
}
#mailing p{
    margin: 1%;
    padding: 1%;
    display: inline-block;
}
#mailing button{
    display: inline-block;
    white-space: normal;
    font-size: calc(60% + 0.4vw);
    background:#eee;
    color:#111;
    margin: 1%;
    padding: 1%;
    /*font: inherit;*/
}
#mailing button:hover{
    background: #999;
}
#mailingPanel {
    display: none;
    position: absolute;
    width: 100%;
    background:#555;
    color:#fff;
}

.mailing_form input {
    padding: 1%;
    display: block;
    width: 100%;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
}

#mailingPanel input{
    display: inline-block;
    float: left;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
/* Style the footer */
.footer{
    /*height:20%;*/
    /*color:white;*/
    /*padding: 10px;*/
    border:2px solid #111;
    background-color: #f1f1f1;
    /*height: 100%;*/
}

.footer_box{
    text-align: center;
    font-size: 80%;
    float: left;
    width:33%;
    /*height: 100%;*/
    padding:10px;
    /*border:2px solid #111;*/
    overflow:hidden;
}
.footer_box h4{
    margin: 1%;
}
.footer_box ul {
    list-style-type: none;
    margin:0;
    padding:1%;
}

.footer_box li{
    padding: 1%;
    margin: 1%;
}

.social li{
    display: inline-block;
    margin: 2%;
}
.socil li img{
    width: 27px;
    height: 27px;
}
.footer_box a {
    display:inline-block;
    text-decoration:none;
    color:#111;
}
.footer_box p{
    margin: 0;
    margin-bottom: 8px;
}
.footer_box li>form{
    margin-bottom: 0;
}
.footer:after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .central.sidenav, .central.content {
        width: 100%;
    }
}
